

pycache/
*.py[cod]
*$py.class
*.so



.Python
build/
dist/
wheels/
*.egg-info/
.installed.cfg
htmlcov/
.tox/



.venv


venv/
env/
/bin/
/include/
/lib/
/lib64/
/pyvenv.cfg
pip-log.txt



.pytest_cache/
.coverage
.mypy_cache/
coverage.xml



VS Code

.vscode/



.idea/

macOS

.DS_Store